:root
{
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png");
  background-position: center;
  height: 100%;
}

body
{
  margin: 0;
  background: none;
}

.header
{
  background: #24ACF2;
  color: #FFF;
}

.page-title
{
  margin: 0;
  text-align: center;
  padding: 25px;
}

.earned-moneys
{
  margin: 25px;
  padding: 15px;
  background: #13965A;
  display: inline-flex;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  line-height: 1;
}

.earned-moneys .label
{
  margin-right: 7px;
}

.board,
#revue-app
{
  margin: 100px;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 20px rgba(0,0,0,0.2)
}

.card:not(:first-child){
  display: none;
}

.card > div + div
{
  margin-top: 15px;
}

.card
{
  border: 5px solid #ddd;
  padding: 25px;
}

.card.correct
{
  border: 5px solid #17A05D;
}

.card.error
{
  border: 5px solid #DD4F43;
}

.card button
{
  border: none;
  border-radius: 0;
  font-family: inherit;
  background: #ddd;
  font-size: 1rem;
  margin: 5px;
  padding: 7px;
  transition: 0.4s;
  display: inline-block;
  width: 90%;
}

.card button:hover
{
  background: #FFCD40;
  cursor: pointer;
}

.card button.correct
{
  background: #17A05D;
}

.card button.error
{
  background: #DD4F43;
}

.answers
{
  padding: 0;
  list-style-type: upper-alpha;
  list-style-position: inside;
}