.card
{
  border: 5px solid #ddd;
  padding: 25px;

  & > div + div
  {
    margin-top: 15px;
  }

  &.correct
  {
    border: 5px solid #17A05D;
  }

  &.error
  {
    border: 5px solid #DD4F43;
  }
}

